@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  color: blue;
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1rem;
}
body {
  font-size: 0.875rem;
}
button {
  font-size: 0.875rem;
}
.caption {
  font-size: 0.75rem;
}

@media (min-width: 1024px) {
  h1 {
    color: red;
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
  h6 {
    font-size: 1.125rem;
  }
  body {
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
  .caption {
    font-size: 0.875rem;
  }
}
.disabled {
  background-color: #dedede;
  color: white;
  pointer-events: none;
}

.sidebarBtn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 110px;
  &.focus {
    background-color: #3b86dd;
  }
}
.step1-main-wrapper {
  background-color: #dedede;
  height: 100%;
  padding: 40px 18px 56px 18px;
  &__content {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
}
.empty-file-wrapper {
  margin: 40px 18px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.step1circle::after {
  display: inline-block;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #5c6b72;
  color: white;
  content: '1';
  font-weight: 500;
  line-height: 19px;
}
.step2bg {
  background-color: white;
  width: 33.3%;
  text-align: center;
  border-bottom: 6px solid #c0d2dd;
  padding: 10px 0px;
  &[data-active='true'] {
    background-color: #d8e7f8;
    border-bottom: 6px solid #3b86dd;
  }
}
.step2circle {
  &::after {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    content: '2';
    font-weight: 500;
    line-height: 19px;
  }
}
.step2circle[data-active='true'] {
  &::after {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    content: '2';
    font-weight: 500;
    line-height: 19px;
    background-color: #3b86dd;
    color: white;
  }
}
.step3bg {
  background-color: white;
  width: 33.3%;
  text-align: center;
  border-bottom: 6px solid #c0d2dd;
  padding: 10px 0px;
  &[data-active='true'] {
    background-color: #fef8de;
    border-bottom: 6px solid #fbdc5c;
  }
}
.step3circle::after {
  display: inline-block;
  margin-right: 4px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  content: '3';
  font-weight: 500;
  line-height: 19px;
}
.step3circle[data-active='true'] {
  &::after {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    content: '3';
    font-weight: 500;
    line-height: 19px;
    background-color: #fbdc5c;
    color: white;
  }
}
.icon-btn {
  border-radius: 6px;
  background-color: black;
  padding: 4px;
  &[enabled]:hover {
    background-color: #5c6b72;
  }
  &[enabled]:active {
    outline: 2px solid #c0d2dd;
  }
  &[disabled] {
    background-color: #dedede;
    pointer-events: none;
  }
}
.icon-btn-white {
  border-radius: 6px;
  background-color: white;
  padding: 4px;
  &[enabled]:hover {
    background-color: #5c6b72;
  }
  &[enabled]:active {
    outline: 2px solid black;
  }
  &[disabled] {
    background-color: #dedede;
    pointer-events: none;
  }
}

@layer components {
  .footer-icon-btn {
    @apply caption flex h-[58px] w-[65px] flex-col items-center justify-center gap-1;
  }
  .footer-icon-btn--active {
    @apply footer-icon-btn bg-black;
  }
  .btn {
    @apply flex h-9  items-center rounded-[10px] border py-2.5 px-3;
  }
  .btn-white {
    @apply btn border-gray-dark bg-white text-black hover:border-black hover:bg-blue-dark active:ring-2 active:ring-black disabled:bg-gray disabled:text-white;
  }
  .btn-black {
    @apply btn bg-black text-white hover:bg-gray-dark active:ring-2 active:ring-blue-dark disabled:bg-gray;
  }
  .btn-color {
    @apply inline-block h-5 w-5 cursor-pointer rounded-full;
  }
  .btn-size {
    @apply inline-block cursor-pointer rounded-full bg-black;
  }
  .btn-group {
    @apply flex h-[40px] w-[146px] items-center gap-10 rounded border border-gray-dark py-3 px-4 hover:bg-blue-dark active:ring-2 active:ring-black disabled:border-0 disabled:bg-gray disabled:text-white;
  }
}

.footer-icon-btn {
  &[disabled] {
    color: #dedede;
  }
  &.active {
    background-color: black;
    color: white;
  }
  &__svgIcon {
    width: 20px;
    color: black;
    &[disabled] {
      color: #dedede;
    }
  }
}
.position-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pdf-wrapper {
  max-height: 500px;
  overflow: auto;
  margin: 0 auto;
}
#pdf-viewer {
  scale: 1;
  .pdf-page-canvas {
    max-width: 100%;
    max-height: 100%;
  }
}

.scale-50 {
  scale: 0.5;
}
.scale-75 {
  scale: 0.75;
}
.scale-100 {
  scale: 1;
}
.scale-125 {
  scale: 1.25;
}
.scale-150 {
  scale: 1.5;
}

.responsive-canvas {
  object-fit: cover;
  overflow: hidden;
  min-height: 140px;
  width: 100%;
  height: 100%;
}
#canvas-wrapper {
  overflow: hidden;
  min-width: 390px;
  min-height: 140px;
}

.upper-canvas {
  border: none;
}
footer {
  display: flex;
  height: 58px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 9px auto;
}

.swal2-icon.swal2-warning {
  color: #fb5c5c;
  border-color: #fb5c5c;
}
.swal2-title {
  font-size: 24px;
  font-weight: 500;
  color: #5c6b72;
}
.swal2-html-container {
  font-size: 16px;
}
.swal2-actions {
  width: 100%;
  .confirm-custom-col {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    color: black;
    &:focus {
      box-shadow: none;
      border-radius: 6px;
    }
  }
  .cancel-custom-col {
    width: 100%;
    background-color: black;
    border: 1px solid black;
    color: white;
    &:focus {
      box-shadow: none;
      border-radius: 6px;
    }
  }
  .confirm-custom-row {
    width: 40%;
    background-color: white;
    border: 1px solid black;
    color: black;
    &:focus {
      box-shadow: none;
      border-radius: 6px;
    }
  }
  .cancel-custom-row {
    width: 40%;
    background-color: black;
    border: 1px solid black;
    color: white;
    &:focus {
      box-shadow: none;
      border-radius: 6px;
    }
  }
}

.swal2-container.swal2-center > .swal2-popup {
  width: 420px;
  padding: 50px;
}
